.primary {
  color: #1565C0;
}

.border-primary {
  border-color: #1565C0;
}

.bg-secondary {
  background-color: #BDBDBD;
}

.bg-primary {
  background-color: #1565C0;
  color: white;
}

.button.bg-secondary:hover {
  transition: 0.25s;
  background-color: #616161;
  color: white;
}