*, *::before, *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body {
  line-height: 1.5;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
  line-height: inherit;
}

img, video, canvas, svg, picture {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  line-height: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: inherit;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, li, span {
  overflow-wrap: break-word;
}