.layout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.cta {
background: radial-gradient(circle at top left,transparent 9%, #ecebe1 10% ,#ecebe1 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #ecebe1 10% ,#ecebe1 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #ecebe1 10% ,#ecebe1 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #ecebe1 10% ,#ecebe1 15% , transparent 16%),radial-gradient(circle, transparent 25%, #fafaf3  26%),linear-gradient(45deg, transparent 46%, #ecebe1 47%, #ecebe1 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #ecebe1 47%, #ecebe1 52%, transparent 53%);
        background-size: 3em 3em;
        background-color: #fafaf3;
        opacity: 1
}