.layout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body {
background: radial-gradient(circle at top left,transparent 9%, #d7d5f3 10% ,#d7d5f3 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #d7d5f3 10% ,#d7d5f3 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #d7d5f3 10% ,#d7d5f3 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #d7d5f3 10% ,#d7d5f3 15% , transparent 16%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(0deg, transparent 44%, #d7d5f3 45%, #d7d5f3 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #d7d5f3 45%, #d7d5f3 55%, transparent 56%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1
}